    <p id="notice"><%= notice %></p>

    <ul class="thumbnails">
      <li class="span1">
        <img src="assets/bicinetaLOGO.png" alt="" class="thumbnail">
      </li>
      <br>
      <li class="span10">
        <h1>HighApps BiciNETa!</h1>
      </li>
    </ul>

    <p>Bienvenidos al sitio de BiciNETa.</p>
    <p>
      Aquí encontrarás la información necesaria para saber en que lugares de Santiago existen ciclovías, talleres de
      reparación, tiendas, estacionamientos, etc.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus porttitor odio, vel interdum massa lacinia sollicitudin. Nam enim dolor, hendrerit vitae ullamcorper vel, vehicula vitae risus. Cras nec dictum nunc. Quisque dignissim vestibulum vulputate. Fusce non libero purus, ac tempus purus. Etiam vitae lorem ipsum. Praesent gravida sodales ullamcorper. Phasellus velit enim, cursus sed malesuada a, lobortis id tellus.
    </p>

    <p>
      In hac habitasse platea dictumst. Nam eget cursus massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc est eros, blandit in molestie id, aliquet quis odio. Vestibulum elementum tortor non lectus congue commodo non non orci. Etiam sed orci tortor, id euismod dolor. Proin semper erat non justo volutpat ac consectetur enim suscipit. Integer tristique orci tincidunt odio viverra a egestas nulla vestibulum. Fusce nec faucibus justo. Nullam commodo ante vel nulla aliquam ac placerat ligula convallis. Quisque nec cursus urna. Nunc nec arcu neque. Pellentesque et sapien lectus.
    </p>








