<ul class="thumbnails">
  <li class="span1">
    <img src="http://placehold.it/70x70" alt="" class="thumbnail">
  </li>
  <br>
  <li class="span10">
    <h1>HighApps BiciNETa!</h1>
  </li>
</ul>

<p>Bienvenidos al sitio de BiciNETa.</p>
<p>Aquí encontrarás la información necesaria para saber en que lugares de Santiago existen ciclovías, talleres de
  reparación, tiendas, estacionamientos, etc.</p>

<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>

