    <p id="notice"><%= notice %></p>

    <ul class="thumbnails">
      <li class="span1">
        <img src="assets/bicinetaLOGO.png" alt="" class="thumbnail">
      </li>
      <br>
      <li class="span10">
        <h1>HighApps BiciNETa!</h1>
      </li>
    </ul>

    <p>Bienvenidos al sitio de BiciNETa.</p>
    <p>
    BiciNETa es una aplicación para smartphones android con la información necesaria para pedalear seguro por la ciudad.
    </p>
    <p>
      Mapas con vías, talleres, tiendas, estacionamientos y todo lo que necesitas para organizar un viaje seguro e informarte de tu ruta en caso de que te quedes parado.
    </p>